<div class="row">
    <div class="col text-center shadow-lg">
        <img src="@Url.Content("~/gallery/administrador-tareas-wallpaper-blu-rhenus-logistics.jpg")" class="img-fluid" alt="BLUNET">
    </div>
</div>
